<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CircleK POS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/circlek-theme.css" asp-append-version="true" />
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <header>
        <nav class="navbar navbar-expand-lg navbar-circlek bg-circlek">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-shop me-2"></i>
                    <strong>CircleK POS</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Pos" asp-action="Index">Punto de venta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CircleK POS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    @RenderSection("Scripts", required: false)
    
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast show text-bg-success">
                <div class="toast-header">
                    <i class="bi bi-check-circle me-2"></i>
                    <strong class="me-auto">POS</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    @TempData["SuccessMessage"]
                </div>
            </div>
        </div>
    }
    
    @if (TempData["PAY_RESULT"] != null && @TempData["PAY_RESULT"] != null)
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast show text-bg-success">
                <div class="toast-header">
                    <i class="bi bi-check-circle me-2"></i>
                    <strong class="me-auto">Punto de Venta</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    @TempData["PAY_RESULT"]
                    @TempData["AMOUNT_CHANGE"]
                </div>
            </div>
        </div>
    }
</body>
</html>